# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# 가상환경
venv/
env/
.env/

# IDE 관련
.idea/
.vscode/
*.swp
*.swo

# 운영체제 관련
.DS_Store
Thumbs.db

# 기타 
*.bak
*.tmp
*.temp 